body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #e6b3ff;
  color: #333;
  padding: 30px 0;
}

h1 {
  margin: 20px 0px -20px 0px;
  font-family: "Borel", cursive;
  font-size: 300%;
}

h2 {
  margin: 40px 0 20px 0px;
  color: #333;
  font-family: "Borel", cursive;
  font-size: 250%;
}

.borel-font {
  color: #333;
  font-family: "Borel", cursive;
  font-size: 200%;
  margin: 20px;
}

img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0 20px;
}

.images img {
  width: calc(50% - 10px);
  max-width: 600px;
  height: auto;
  margin-top: 0;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .images img {
    width: 100%;
  }
}

/* body {
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}
.box {
    background-color: #f6f4f4;
    padding: 20px;
    width: 200px;
    float:left; display:inline;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #333;
    font-weight: bold;
    font-size: 60px;
    font-family:'Segoe UI';
}

img {
    border-radius: 8px;
  }
  

#countdown{ text-align: center; margin: auto; }
  
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #000;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    margin-bottom: 30px;
}
p {
    font-family: verdana;
    font-size: 20px;
} */
